<!-- Caption -->
<div id="technique-filter" class="bjj-filter-row">
  <div class="input-group mt-5">
    <div class="input-group-prepend" (click)="searchInput.focus()">
      <div class="input-group-text"><i class="fa fa-search"></i></div>
    </div>
    <input #searchInput type="text" class="form-control" (keyup)="changed.emit(filters)" [(ngModel)]="filters.caption"
      name="filterInput" placeholder="Search" autocomplete="off">
    <div class="input-group-append" *ngIf="filters.caption.length > 0" (click)="clearCaptionFilter()">
      <div class="input-group-text"><i class="fa fa-times-circle"></i></div>
    </div>
  </div>
</div>

<div class="bjj-filter-row">

  <!-- Status -->
  <div class="bjj-filter-cell">
    <span class="badge bg-{{filter.color}} u-cursor-pointer mr-1" [class.filter-inactive]="!filter.isFilter"
      *ngFor="let filter of filters.status" (click)="filterStatus(filter);">
      <i class="fa fa-{{filter.icon}}"></i>
    </span>
  </div>

  <!-- Placement -->
  <div class="bjj-filter-cell">
    <span class="badge bg-red u-cursor-pointer mr-1" [class.filter-inactive]="!filter.isFilter"
      *ngFor="let filter of filters.placement" (click)="filterPlacement(filter);">
      {{ filter.caption }}
    </span>
  </div>

  <!-- Gi -->
  <div class="bjj-filter-cell">
    <span class="badge bg-pink u-cursor-pointer mr-1" [class.filter-inactive]="!filter.isFilter"
      *ngFor="let filter of filters.gi" (click)="filterGi(filter);">
      {{ filter.caption }}
    </span>
  </div>

  <!-- Belts -->
  <div class="bjj-filter-cell">
    <span class="badge bg-{{filter.name}} u-cursor-pointer mr-1" [class.filter-inactive]="!filter.isFilter"
      *ngFor="let filter of filters.belt" (click)="filterBelt(filter);">
      {{ filter.caption }}
    </span>
  </div>
</div>

<div class="bjj-filter-row">
  <!-- Position -->
  <span class="badge bg-secondary text-white u-cursor-pointer mr-1" [class.filter-inactive]="!filter.isFilter"
    *ngFor="let filter of filters.position" (click)="filterPosition(filter);">
    {{ filter.caption }}
  </span>
</div>