@import '../../_styles/variables';

#technique-filter {
  margin-bottom: 10px;
  input {
    background-color: $gray-900;
    border: 0;
    // border-radius: 2px;
    min-width: 260px;
    &:focus,
    &:active {
      box-shadow: none;
      color: $gray-300;
    }
  }
  .input-group-prepend {
    .input-group-text {
      padding-left: 10px;
      padding-right: 3px;
    }
  }
  .input-group-append {
    cursor: pointer;
    &:hover .fa { color: $gray-500; }
  }

  .input-group-text {
    background-color: $gray-900;
    color: $gray-300;
    border: 0;
  }
}

.bjj-filter-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .bjj-filter-cell {}
}

.badge {
  margin-bottom: 2px;
  user-select: none;
  &.filter-inactive { opacity: .4; }
  &:hover { opacity: .5; }
}
