<div *ngIf="user">{{ user.email }}</div>
<button type="button" class="btn btn-secondary" *ngIf="user" (click)="signOut()">Sign Out</button>
<button type="button" class="btn btn-secondary" *ngIf="!user" (click)="routeToLogin()">Log in</button>

<div class="form-group">
  <label for="technique-filter">Technique</label>
  <input type="text" id="technique-filter" class="form-control">
</div>

<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-sm">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Technique</th>
            <th scope="col">Type</th>
            <th scope="col">Belt</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let technique of techniques">
            <td>{{ technique.position }}</td>
            <td (click)="setVideoUrl(technique)">
              <span [class.grid-link]="technique.videoId?.length > 0">{{ technique.name }}</span>
            </td>
            <td>{{ technique.noGi ? 'No-gi' : 'Gi' }}</td>
            <td><span class="badge bg-{{ technique.belt }} text-white">{{ technique.belt }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <iframe *ngIf="videoUrl" width="100%" height="500" [src]="videoUrl" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>