<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Belt</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let technique of techniques">
            <td>{{ technique.position }}</td>
            <td (click)="setVideoUrl(technique)">{{ technique.name }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm" *ngIf="videoUrl">
      <iframe width="560" height="315" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>


