@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

#bjj-title {
  display: flex;
  justify-content: center;
  h1 {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Russo One', sans-serif;
  }
  .badge {
    font-size: 2.1875rem;
    border-radius: 4px;
    padding: 0px 8px;
    line-height: inherit;
    margin-right: -4px;
  }
  .bjj-title-dot {
    margin-left: 3px;
  }
}