<div class="bjj-wrapper">

  <div class="bjj-menu-bar">

    <button type="button" class="btn btn-link text-gray-600" *ngIf="!user" (click)="routeToLogin()">Sign in</button>

    <div class="dropdown">
      <button type="button" id="user-btn" class="btn btn-link dropdown-toggle text-gray-600" *ngIf="user"
        (click)="userBtnExpanded = !userBtnExpanded">
        {{ user.email }} <i class="fa caret-down"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" [class.expanded]="userBtnExpanded">
        <button type="button" id="sign-out-btn" class="btn btn-link" *ngIf="user" (click)="signOut()">Sign out</button>
      </div>
    </div>
  </div>

  <div id="bjj-title">
    <h1><span class="badge bg-red">BJJ</span> Checklist<span class="bjj-title-dot">.</span></h1>
  </div>

  <app-checklist-filters (changed)="onFiltersChanged($event)"></app-checklist-filters>
  <app-checklist-list [techniques]="techniquesFiltered" (statusChanged)="onStatusChanged($event)"></app-checklist-list>

</div>