<div *ngIf="user">{{ user.email }}</div>
<button type="button" class="btn btn-secondary" *ngIf="user" (click)="signOut()">Sign Out</button>
<button type="button" class="btn btn-secondary" *ngIf="!user" (click)="routeToLogin()">Log in</button>

<app-checklist-filters (changed)="onFiltersChanged($event)"></app-checklist-filters>

<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-sm">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Technique</th>
            <th scope="col">Position</th>
            <th scope="col">Type</th>
            <th scope="col">Belt</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let technique of techniquesFiltered" [class.table-active]="technique === selected">
            <td (click)="toggleStatus(technique)" class="status-cell u-cursor-pointer">
              <span *ngIf="technique.status.status === 0">
                <div class="dot bg-gray-500"></div>
              </span>
              <span *ngIf="technique.status.status === 1">
                <div class="dot bg-yellow"></div>
              </span>
              <span *ngIf="technique.status.status === 2">
                <i class="fa fa-check text-green"></i>
              </span>
            </td>
            <td>
              <span [class.link]="technique.video.id" (click)="setSelected(technique)">
                {{ technique.caption }}
                <i class="fa fa-video-camera text-blue" *ngIf="technique.video.id"></i>
              </span>
            </td>
            <td>
              {{ technique.position.caption }}
              <span class="text-gray-600 small" *ngIf="technique.placement.caption">
                | {{ technique.placement.caption }}
              </span>
            </td>
            <td>{{ technique.giCaption }}</td>
            <td><span class="badge bg-{{ technique.belt }} text-white">{{ technique.belt }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <iframe *ngIf="videoUrl" width="100%" height="500" [src]="videoUrl" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>