.dot {
  height: 16px;
  width: 16px;
  border-radius: 16px;
}

.status-cell {
  padding: 7px 0 0 18px;
  font-size: 18px;
  line-height: 1;
}

.fa-check {
  font-size: 16px;
}

.table th {
  cursor: pointer;
}