/*
 * - - - - Styles - - - -
 * Use while css is small
 */

body.dark {
  background-color: darken($gray-900, 3%);
  color: #fff;
  .badge.bg-white { color: $gray-800; }
  .dropdown-menu {
    background-color: darken($gray-700, 3%);
    a {
      color: #fff;
      &:hover {
        color: #fff;
        background-color: $gray-800;
      }
    }
  }
}

.bjj-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px 50px;
}

.bjj-menu-bar {
  display: flex;
  justify-content: flex-end;

  .btn-link {
    color: $gray-100;
    font-weight: bold;
    text-decoration: none;
    &:hover { color: $gray-300; }
  }

  #user-btn {
    
    .fa.caret-down {
      display: none !important;
    }
  }
}

h1, h2, h3, h4, h5, h6, p, div, span, input {
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.expanded {
  display: block;
  background-color: $gray-900;
}

.badge {
  font-size: 12px;
  line-height: 14px;
  border-radius: 2px;
}


.link {
  color: $blue;
  cursor: pointer;
  &:hover {
    color: $blue-dark;
    text-decoration: underline;
  }
}

 // Login - disable facebook
.firebaseui-idp-facebook {
  opacity: .5;
  pointer-events: none;
}