/*
 * - - - - Styles - - - -
 * Use while css is small
 */

 body {
   background-color: $gray-900;
   color: #fff;
 }

 .bjj-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

 .link {
   color: $blue;
   cursor: pointer;
   &:hover {
     color: $blue-dark;
     text-decoration: underline;
   }
 }

 // Login - disable facebook
 .firebaseui-idp-facebook {
    opacity: .5;
    pointer-events: none;
 }