<div class="bjj-list">

  <div class="bjj-technique-count text-gray-600">
    <span>{{ techniques?.length }}</span>
  </div>

  <div class="bjj-list-header">
    <div class="bjj-list-header-cell bjj-list-header-cell-{{ sortBtn.caption }}" *ngFor="let sortBtn of sortBtns"
      (click)="toggleSort(sortBtn)">
      <span> {{ sortBtn.caption }} </span>
      <i class="fa fa-chevron-up" *ngIf="sortBtn === sortBtnActive && !sortBtn.isReverse"></i>
      <i class="fa fa-chevron-down" *ngIf="sortBtn === sortBtnActive && sortBtn.isReverse"></i>
    </div>
  </div>

  <div class="bjj-list-body">
    <div class="bjj-list-row" *ngFor="let technique of techniques" [class.row-selected]="technique === selected"
      (click)="setSelected(technique)">
      <div class="bjj-list-row-header">
        <div (click)="toggleStatus(technique, $event)"
          class="bjj-list-cell bjj-list-cell-status status-{{technique.status.status}}">
          <span *ngIf="technique.status.status === 0">
            <div class="fa fa-circle-o"></div>
          </span>
          <span *ngIf="technique.status.status === 1">
            <i class="fa fa-circle"></i>
          </span>
          <span *ngIf="technique.status.status === 2">
            <i class="fa fa-star"></i>
          </span>
          <span *ngIf="technique.status.status === 3">
            <i class="fa fa-check"></i>
          </span>
        </div>

        <div class="bjj-list-cell bjj-list-cell-technique">
          <span class="text-truncate u-collapser-left" [class.active]="selected === technique">
            {{ technique.caption }}
            <i class="fa fa-eye-slash text-orange pl-2" *ngIf="!technique.video.id"></i>
          </span>
        </div>

        <div class="bjj-list-cell bjj-list-cell-position">
          {{ technique.position.caption }}
          <span class="text-gray-500 small" *ngIf="browserWidth > 600">
            | {{ technique.placement.caption }}
          </span>
          <span class="font-weight-bold text-red"
            *ngIf="browserWidth <= 600 && technique.placement.caption === 'Top'">T</span>
          <span class="font-weight-bold text-red"
            *ngIf="browserWidth <= 600 && technique.placement.caption === 'Bottom'">B</span>
        </div>

        <div class="bjj-list-cell bjj-list-cell-gi">
          <i class="fa fa-user-o" *ngIf="technique.gi.name === 'noGi'"></i>
          <i class="fa fa-user" *ngIf="technique.gi.name === 'gi'"></i>
        </div>

        <div class="bjj-list-cell bjj-list-cell-belt">
          <div class="badge bg-{{ technique.belt.name }}">
            {{ browserWidth > 600 ? technique.belt.caption : '&nbsp;' }}
          </div>
        </div>

      </div> <!-- bjj-list-row-header -->

      <div class="bjj-list-row-curtain" *ngIf="technique === selected && videoUrl">
        <iframe *ngIf="videoUrl" width="auto" height="100%" [src]="videoUrl" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>