@import '../../_styles/variables';

$row-bg: $gray-800;
$row-height: 40px;

$cell-width-status: 40px;
$cell-width-technique: auto;
$cell-width-position: 170px;
$cell-width-gi: 38px;
$cell-width-belt: 70px;

$row-border-radius: 2px;

.bjj-technique-count {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

/*
 * BJJ List
 *
  - list
    - header
      - cell
    - row
      - row-header
      - row-body
 */


// Column widths
.bjj-list-header-cell-status, .bjj-list-cell-status { flex: 0 0 $cell-width-status; }
.bjj-list-header-cell-technique, .bjj-list-cell-technique { flex: 1 1 $cell-width-technique; }
.bjj-list-header-cell-position, .bjj-list-cell-position { flex: 0 0 $cell-width-position; }
.bjj-list-header-cell-gi, .bjj-list-cell-gi { flex: 0 0 $cell-width-gi; }
.bjj-list-header-cell-belt, .bjj-list-cell-belt { flex: 0 0 $cell-width-belt; }

@media (max-width: 600px) {
  .bjj-list-header-cell-position, .bjj-list-cell-position { flex: 0 0 130px !important; }
  .bjj-list-header-cell-belt, .bjj-list-cell-belt { flex: 0 0 46px !important; }
}


// List
.bjj-list {
  margin-top: 30px;
}

// List Header
.bjj-list-header {
  display: flex;
  width: 100%;
  .bjj-list-header-cell {
    display: flex;
    padding: 0 10px 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    &:hover { color: $gray-300; }

    .fa {
      font-size: 12px;
      padding: 2px 0 0 5px;
      color: $green;
    }
  }
  .bjj-list-header-cell-status {
    > span { text-indent: -99999px; }
    &:after {
      content: "";
      height: 12px;
      width: 12px;
      border-radius: 12px;
      margin: 2px 0 0 4px;
      box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
      background-color: #fff;
    }
  }
  .bjj-list-header-cell-technique {}
  .bjj-list-header-cell-position {}
  .bjj-list-header-cell-gi {}
  .bjj-list-header-cell-belt {
    justify-content: flex-end;
  }
}


// List Body
.bjj-list-body {
  .bjj-list-row {
    display: flex;
    flex-flow: column;
    height: $row-height;
    margin-bottom: 1px;
    box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: height ease-in-out .3s;
  
    .bjj-list-row-header {
      display: flex;
      flex: 0 0 40px;
      flex-flow: row;
      width: 100%;
      background-color: rgba(255,255,255,.06);

      &:hover {
        background-color: rgba(255,255,255,.045) !important;
      }

      // <- List cells
    }

    &.row-selected {
      height: 300px !important;
      .bjj-list-row-header {
        background-color: rgba(134,155,255,.06) !important;
      }
    }
    
    .bjj-list-row-curtain {
      display: flex;
      flex: 1 1 100%;
      background-color: rgba(0, 0, 0, .3);
      margin: 0 0 0 40px;
      overflow: hidden;
    }
  }
}


// List cells
.bjj-list-cell {
  display: flex;
  padding: 10px;
}

.bjj-list-cell-status {
  max-width: $cell-width-status;
  border-radius: $row-border-radius 0 0 $row-border-radius;
  transition: opacity ease-in-out 100ms;
  padding: 10px 0;
  text-align: center;
  &:hover { opacity: .94; }
  .fa {
    color: #fff;
    font-size: 18px;
    width: $cell-width-status;
  }
}
.bjj-list-cell-technique {
  min-width: 0; // for text truncate
}
.bjj-list-cell-position {
  .small {
    letter-spacing: 1px;
    padding: 3px 0 0 4px;
  }
  .text-red {
    margin: 0 0 0 9px;
  }
}

.bjj-list-cell-gi {}
.bjj-list-cell-belt {
  display: flex;
  flex: 0 0 $cell-width-belt;
  border-radius: 0 $row-border-radius $row-border-radius 0;
  justify-content: flex-end;
}